<header>
    <title>Cooking with Cocktails</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M"
        crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="CwC.css">
    <script src="https://cdn.firebase.com/libs/firebaseui/2.4.1/firebaseui.js"></script>
    <link type="text/css" rel="stylesheet" href="https://cdn.firebase.com/libs/firebaseui/2.4.1/firebaseui.css">
</header>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color:rgb(39, 32, 92)">
        <a data-toggle="tab" class="navbar-brand" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home">CwC</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav nav mr-auto" role="tablist">
                <li class="nav-item">
                    <a class="nav-link" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="dinner-tab" data-toggle="tab" href="#dinner" role="tab" aria-controls="dinner">What's for Dinner?</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="student-tab" data-toggle="tab" href="#student" role="tab" aria-controls="student">Student Zone</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="cocktail-tab" data-toggle="tab" href="#cocktail" role="tab" aria-controls="cocktail">Fancy a Cocktail?</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="submit-tab" data-toggle="tab" href="#submit" role="tab" aria-controls="submit">Submit Your Idea</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="fav-tab" data-toggle="tab" href="#fav" role="tab" aria-controls="fav">Your Favourites</a>
                </li>
        <li class="nav-item">
                    <a class="nav-link" id="fav-tab" data-toggle="tab" href="#fav" role="tab" aria-controls="fav">search</a>
                </li>
            </ul>

            <ul class="navbar-nav nav">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="acc" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">My Account</a>
                    <div class="dropdown-menu" id="accountDropdown">
                        <div id="firebaseui-auth-container"></div>
                        <div id="UILogged">
                            <a class="dropdown-item" onclick="firebase.auth().signOut()">Log Out</a>
                            <a class="dropdown-item" href="#">Favourites</a>
                        </div>
                    </div>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
                <button class="btn btn-secondary my-2 my-sm-0 mr-1"onclick="$('#student-tab').trigger('click');" onsubmit="return SearchResults();">Search</button>
		
            </form>
        </div>
    </nav>

    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
            <div class="jumbotron text-center">
                <h1>Cooking with Cocktails!!</h1>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <div class="card" style="height: 16rem">
                            <div class="card-body">
                                <h3 class="card-title">Fancy some food? </h3>
                                <p class="card-text">Click our What's for Dinner? tab to start cooking away</p>
                                <button class="btn buto" onclick="$('#dinner-tab').trigger('click');">Go Cook!</button>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <div class="card" style="height: 16em">
                            <div class="card-body">
                                <h3 class="card-title">How about a tasty drink?</h3>
                                <p class="card-text">Go ahead and click our Fancy a Cocktail? tab to mix up something tasty</p>
                                <button class="btn buto" onclick="$('#cocktail-tab').trigger('click');">Get mixin'</button>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <div class="card" style="height: 16rem">
                            <div class="card-body">
                                <h3 class="card-title">Student Zone! </h3>
                                <p class="card-text">What's this you ask?</p>
                                <p class="card-text">It's a place to find tasty, quick and easy recipes. Perfect for beginners!</p>
                                <button class="btn buto" onclick="$('#student-tab').trigger('click');">Easy peasy cooking</button>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <div class="card" style="height: 16rem">
                            <div class="card-body">
                                <h3 class="card-title">Submit Your Idea</h3>
                                <p class="card-text">Yes YOU!</p>
                                <p class="card-text">If you're a kitchen or cocktail extrodinaire why not share? </p>
                                <button class="btn buto" onclick="$('#submit-tab').trigger('click');">Share!</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>




        <div class="tab-pane fade" id="dinner" role="tabpanel" aria-labelledby="dinner-tab">
            <div class="jumbotron text-center">
                <h1>What's for Dinner?? </h1>
            </div>

            <div class="container">
                <div id="accordion" role="tablist" id="fRecipes">
                </div>
                <!-- <div class="card-columns" id="frecipes"> -->
                <!--</div> -->
            </div>

        </div>


        <div class="tab-pane fade" id="student" role="tabpanel" aria-labelledby="student-tab">
            <div class="jumbotron text-center">
                <h1>Student Zone!! </h1>
            </div>
			<div class="container">
                <div id="accordion3" role="tablist" id="fRecipes">
                </div>
                <!-- <div class="card-columns" id="frecipes"> -->
                <!--</div> -->
            </div>
        </div>
        
 	<div class="tab-pane fade" id="fav" role="tabpanel" aria-labelledby="fav-tab">
            <div class="jumbotron text-center">
                <h1>Your Favourites</h1>
            </div>
		<form id = "fav-submit-form" onsubmit="return SubmitRecipe();">
		    <div class="container">
                    <div class="form-group">
                        <label for="SelectRecipeType">Choose recipe type:</label>
                        <select class="form-control" id="SelectRecipeType">
                            <option>Food</option>
                            <option>Drink</option>
                        </select>
			<label for="SelectRecipe">Choose recipe to add:</label>
			<select class="form-control" id="SelectRecipe">
                            <option>Food</option>
                            <option>Drink</option>
                        </select>
			<button id="EnterFavourite" type="submit" class="btn btn-secondary">Add to Favourites</button>
                    </div></div>
			
		<div class="container">
                <div id="accordion4" role="tablist" id="fRecipes">
                </div>
                <!-- <div class="card-columns" id="frecipes"> -->
                <!--</div> -->
            </div>
        </div>


        <div class="tab-pane fade" id="cocktail" role="tabpanel" aria-labelledby="cocktail-tab">
            <div class="jumbotron text-center">
                <h1>Cocktails cocktails!</h1>
            </div>
            <div class="container">
                <div id="accordion2" role="tablist" id="fRecipes">
                </div>

            </div>

        </div>

        <div class="tab-pane fade" id="submit" role="tabpanel" aria-labelledby="submit-tab">
            <div class="jumbotron text-center">
                <h1>Share your secret!?</h1>
            </div>
            <div class="container">
                <form id = "Recipe-submit-form" onsubmit="return SubmitRecipe();">
                    <div class="form-group">
                        <label for="SelectRecipeType">Choose recipe type:</label>
                        <select class="form-control" id="SelectRecipeType">
                            <option>Food</option>
                            <option>Drink</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="StudentSuitable">Student friendly?</label>
                        <select class="form-control" id="StudentSuitable">
                            <option>Yes</option>
                            <option>No</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="RecipeName">Title</label>
                        <input type="text" class="form-control" id="RecipeName" placeholder="Recipe Name">
                    </div>
                    <div class="form-group">
                        <label for="IngredientsInput">Ingredients</label>
                        <textarea class="form-control" id="IngredientsInput" rows="3"></textarea>
                    </div>

                    <div class="form-group">
                        <label for="MethodInput">Method</label>
                        <textarea class="form-control" id="MethodInput" rows="3"></textarea>
                    </div>
                    <button id="EnterRecipe" type="submit" class="btn btn-secondary">Submit!!!</button>
                </form>
            </div>
        </div>
	<div class="tab-pane fade" id="search" role="tabpanel" aria-labelledby="search-tab">
         	   <div class="jumbotron text-center">
                	<h1>Search results</h1>
            	</div>
		<div class="container">
               	 <div id="accordion5" role="tablist" id="fRecipes">
               	 </div>
            </div>
        </div>
    </div>

    <script src="https://www.gstatic.com/firebasejs/4.6.2/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/4.6.2/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/4.6.2/firebase-database.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1"
        crossorigin="anonymous"></script>
    <script src=CwC.js></script>


</body>